body {
    font-family: "Cinzel", serif;
    font-size: 16px;
    background-color:black;
}
a {
    text-decoration-line: none;
    padding: 10px;
    font-size: 1.15rem;
    font-weight: 600;
    line-height: 1.25;
    color: rgb(255, 255, 255);
}
a:hover{
    font-size: 2rem;
    transition: all 500ms ease-out 250ms;
}
img {
    width: 100%;
}

.head {
    display: flex;
    width: 100%;
}
.navbar {
    display: flex;
    width: 100%;
    position: fixed;
    padding: 1%;
    z-index: 4;
}
.head h1 {
    display: flex;
    position: absolute;
    flex-shrink: 3;
    align-self: flex-end;
    bottom: 20%;
    left: 20%;
    color: white;
    font-size: 15rem;
    letter-spacing: 3px;
   
}
/* Main body */
.main {
    display: flex;
    width: 100%;
    border: 4px orange solid;
}
.title {
    width: 40%;
    border: 2px green solid;
}
.list {
    width: 60%;
}
.list li {
    width: 80%;
    margin-top: 7%;
    padding: 10px;
    color: white;
    list-style-type: none;
    font-size: 2rem;
    border: 2px green solid;
}
.navbarweb {
    display: none;
}
@media only screen and (min-width: 300px) and (max-width: 1300px){
    .head h1 {
        color: white;
        align-self: center;
        font-size: 9rem;
        bottom: 20%;
    }
    .head img {
        opacity: .7;
    }
    .navbar a {
    display: none;
    }
    .navbarweb {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: white;
    z-index: 3;
    }
    i {
      color: black;
    }
}