/* Universal */
html {
    font-family: "Cinzel", serif;
    font-size: 16px;
    background-color: black;
    margin: 0;
    overflow-x: hidden;
}
body {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    margin: auto;
    line-height: 1.15;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.801);
    overflow-x: hidden;
}
h1 { 
    font-size: 5rem;
}
a { 
    text-decoration: none;
    color: rgba(255, 255, 255, 0.712);
}
a:hover {
    -webkit-transition: 1s;
    color: rgb(255, 255, 255);
}
/* Page Heading */

.heading {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.contact {
    display: flex;
    flex-direction: column;
    flex-basis: 1 0 10%;
    font-size: .9rem;
    margin-top: 10px;
}
.magname {
    display: flex;
    flex-direction: column;
    flex: 1 0 80%;
    align-items: center;
}
.magname > * {
    margin: 0;
}
.social {
    display: flex;
    justify-content: space-around;
    flex: 1 1 10%;
}
.social a {
    margin:0;
}
.slideshow {
    background-image: url("../images/backdeck.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 900px;
}


/* Nav bar */

.menu {
    display: flex;
    flex: 1 0 100%;
    justify-content: space-around;
    background-color: black;
}
.menu > * {
    flex-basis: 20%;
    text-align: center;
    padding: 10px;
    font-size: 3rem;
    background-color: rgba(22, 18, 18, 0.925);
    border: 2px rgba(255, 255, 255, 0.712) solid;
    border-radius: 15px;
}

/* About Alex */
.about {
    display: flex;
}
.aleximg-sm img {
    display: block;
    width: 100%;
    height: auto;
}
.alex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 100%;
}
.alex p {
    margin: 0;
    padding: 30px;
}

/* Services Section */

.services-bg {
    background-image: url("../images/Ctablefront.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.services {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: rgba(50, 241, 241, 0.534);
}
.service-box {
    flex: 1 2 30%;
}
.service-box p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.5rem;
    height: 100px;
    padding: 20px;
    margin: 10px;
    border: 3px gray solid;
    background-color: rgba(59, 73, 73, 0.76);
}
.services h1 {
    flex: 1 0 100%;
    font-size: 9em;
    margin: 10px;
    text-align: center;
}
/* Media Queries */
@media screen and (min-width: 768px) and (max-width: 1350px) {
    body {
        margin: 0;
    }
    .heading {display: flex;}
    .contact { flex: 1 1 20%;}
    .magname {flex: 1 0 60%;}
    .social {
        display: flex;
        justify-content: flex-end;
        flex: 1 0 20%;
    }
    .social a {
        margin-right: 5%;
    }
    .slideshow {
        background-size: contain;   
        height: 550px;
    }
    .menu a {
        font-size: 2rem;
        padding: 10px;
    }
    .aleximg-sm  {
        width: 80%;
    }
    .alexp {
        margin: 0;
        font-size: .9rem;
    }
    .service-box {
        flex-wrap: wrap;
        flex: 1 1 30%;
    }
    .service-box p {
        font-size: 1rem;
    }
    
}
@media screen and (max-width: 767px) {
    .heading,
    .magname > * {
        flex-wrap: wrap;
        order: 1;
        text-align: center;
    }
    .magname h1 {
        font-size: 4rem;
    }
    .social {
        order: 3;
        flex: 1 0 100%;
        margin-top: 3%;
    }
    .contact {
        flex-direction: row;
        flex: 1 0 100%;
        justify-content: space-around;
        order: 2;
    }
    .slideshow {
        background-size: cover;
        height: 250px;
        width: auto;
        overflow-x: hidden;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
    }
    .menu > * {
        flex: 1 0 70%;
        margin: 2% 5%;
        font-size: 2rem;
    }
    .about {
        display: flex;
        flex-direction: column;
        background-image: none;
    }
    .aleximg-sm img {
        display: block;
        margin-top: 10px;
    }
    .alex {
        flex: 1 1 100%;
        margin-left: 20px;
    }
    .alexp {
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
    .services h1 {
        font-size: 5rem;
    }
    .service-box {
        flex-wrap: wrap;
        flex: 1 0 100%;
        align-items: center;
    }
}
