body {
    font-family: Cinzel, serif;
    font-size: 16px
}
a {
    text-decoration-line: none;
    list-style-type: disc;
    padding: 5px;
    font-size: 1.15rem;
    font-weight: 600;
    line-height: 1.25;
    color: white
}
a:hover{
    font-size: 2rem;
    transition: all 500ms ease-out 250ms;
}
.head {
    background-image: url('backdeck.jpeg');
    background-color: blue;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex: 1 3 600px;
    justify-content: start;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
}
.head h1 {
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
    font-size: 5.5rem;
}
